.acerca{
	//height : 100vh;
	background-color : $Blancobgcolor;

	.acerca-cont{
		display : flex; 
		flex-direction: column;
		margin-top : 115px;//130px;

		.acerca-titulo{
			display : flex; 
			flex-direction: column;

			.acerca-titulo-cont{
				display : flex; 
				flex-direction : column;

				&_titulo{
					display : flex; 
					justify-content: center;
					margin-bottom : 10px;//Nuevo agregado

					&_color{
						color : rgb( 66, 73, 73);
						text-align : center;
					}
				}

				&_subtitulo{
					display : flex; 
					justify-content: center;

					&_color{
						color : $Colortitulonos;
						text-align : center;
					}
				}

				&_span{
					display : flex; 
					justify-content : center;
				}
			}
		}
		.acerca-info{
			display : flex; 
			flex-direction : column;
			margin-top: 60px;

			.acerca-info-filosofia{
				display : flex; 
				flex-direction: column;
				border: 1px solid rgb(236, 240, 241);//Grueso y color del contenedor
				border-radius : 5px;//Radio del borde del contenedor
				background-color : rgb(251, 252, 252);
				padding : 20px;//Borde interior del contenedor
				margin-bottom : 25px;

				&_titulo{
					display : flex; 
					justify-content: flex-start;
					margin-bottom: 20px;

					&_color{
						color: $Colorbase;//rgb(66,73,73);
						///text-align: center;
					}
				}

				&_texto{
					display : flex; 
					justify-content: flex-start;

					&_color{
						color : gray;
						///text-align : center;
					}
				}
			}
		}
	}
}

@media (max-width : 620px){
	.acerca{
		//height : 100vh;
		background-color : $Blancobgcolor;

		.acerca-cont{
			display : flex; 
			flex-direction: column;
			margin-top : 100px;//130px;

			.acerca-titulo{
				display : flex; 
				flex-direction: column;

				.acerca-titulo-cont{
					display : flex; 
					flex-direction : column;

					&_titulo{
						display : flex; 
						justify-content: center;
						margin-bottom : 10px;//Nuevo agregado

						&_color{
							color : rgb( 66, 73, 73);
							text-align : center;
							font-size: 1em;
						}
					}

					&_subtitulo{
						display : flex; 
						justify-content: center;

						&_color{
							color : $Colortitulonos;
							text-align : center;
							font-size: 1.5em;
						}
					}

					&_span{
						display : flex; 
						justify-content : center;
					}
				}
			}
			.acerca-info{
				display : flex; 
				flex-direction : column;
				margin-top: 60px;

				.acerca-info-filosofia{
					display : flex; 
					flex-direction: column;
					border: 1px solid rgb(236, 240, 241);//Grueso y color del contenedor
					border-radius : 5px;//Radio del borde del contenedor
					background-color : rgb(251, 252, 252);
					padding : 20px;//Borde interior del contenedor
					margin-bottom : 25px;

					&_titulo{
						display : flex; 
						justify-content: flex-start;
						margin-bottom: 20px;

						&_color{
							color: $Colorbase;//rgb(66,73,73);
							font-size: 1.1em;
						}
					}

					&_texto{
						display : flex; 
						justify-content: flex-start;

						&_color{
							color : gray;
							font-size: 0.8em;
						}
					}
				}
			}
		}
	}
}